body {
    font-family: 'Open Sans', sans-serif;
    color: #E6E6E6;
    background: #2F3238;
}

header {
    height: 100%;
    width: 100%;
}

.brown-background {
    background: #312A1E;
}

.yellow-background {
    background: #F0BF00;
}

.color-text {
    color: #f89406;
}

.my-btn {
    background: #F0BF00;
    color: #312A1E;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    margin-top: 1em;
    border-radius: 3px;

    -webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;
    -moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
    -o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
}

/* Navigation */
#my_navigation {
    border-bottom: 1px solid #F0BF00;
}

#my_navigation a {
    color: #E6E6E6;
}

#my_navigation a:hover {
    background-color: #f89406;
}

#my_navigation .navbar-toggle .icon-bar {
    background-color: #E6E6E6;
}

#my_navigation .nav .open>a,
#my_navigation .nav .open>a:focus,
#my_navigation .nav .open>a:hover,
#my_navigation .nav>li>a:focus:hover,
#my_navigation .nav>li>a:hover,
#my_navigation .dropdown-menu {
    background-color: #f89406;
}

#my_navigation .nav>li>a:focus {
    background: #312A1E;
}

/* Slider */
#slider_first {
    background: url('../img/overlay.png'), url('../img/slider-images/OFA_1200.png');
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: fixed;
}

#slider_second {
    background: url('../img/overlay.png'), url('../img/slider-images/OFD_1200.png');
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: fixed;

}

#slider_third {
    background: url('../img/overlay.png'), url('../img/slider-images/OFPA_1200.png');
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: fixed;

}

/* Invite main */
#invite_main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

#invite_main .row {
    width: 100%;
}

/* Registration */
#registration {
    background: transparent url("../img/yellow.png") repeat-x scroll 0 0;
    background-size: 100% 100%;
    color: #312A1E;
    font-weight: 600;
    padding-top: 4em;
}

#registration_submit {
    background: #312A1E;
    color: #E6E6E6;
}

#registration_submit:hover {
    background: #E6E6E6;
    color: #312A1E;
}

#response {
    margin-top: 1em;
    color: #DE5E60;
}

#registration select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

#registration select.input-lg {
    line-height: 1.42857143;
}

.glyphicon-refresh-animate {
    -animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    -ms-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* About */
#about {
    background-color: #F0F8FF;
    color: #312A1E;
}

#about h3 {
    line-height: 1.5em;
}

#about p {
    font-size: 16px;
    line-height: 1.5
}

#about .row {
    margin-top: 1em;
    margin-bottom: 1em
}

/* Contact */
#contact {
    background: transparent url("../img/yellow_testimonial.png") repeat-x scroll 0 0;
    background-size: 100% 100%;
    color: #312A1E;
}

/* Footer */
footer {
    margin: 0;
    background: #312A1E;
}

footer .credits {
    color: #FFFFFF;
    margin-bottom: 0;
    padding: 20px 0;
    text-transform: uppercase;
}